</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; STE SISTEMAS 2023</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->

<script src="<%= locals.pafh %>vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->


<!-- Custom scripts for all pages-->
<script src="<%= locals.pafh %>js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->

<script src="<%= locals.pafh %>vendor/datatables/jquery.dataTables.min.js"></script>
<script src="<%= locals.pafh %>vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="<%= locals.pafh %>js/demo/datatables-demo.js"></script>

<script src="<%= locals.pafh %>js/webcam.min.js"></script>


<script src="<%= locals.pafh %>js/estacionamentoJN.js"></script>
<script>
    let url = "localhost";
    let port = "443";
    initWs(url, port);
</script>

<!--   <script type="text/javascript" src="/assets/javascripts/exif.js"> </script>
    <script src="/assets/javascripts/unitbyblock.js"></script>
    <script src="/assets/javascripts/admin_user.js"></script>
    <script src="/assets/javascripts/phone_manager.js"></script>
    <script src="/assets/javascripts/vehicle_manager.js"></script>
    <script src="/assets/javascripts/visitor_home_search.js"></script>
    <script src="/assets/javascripts/add_visitor.js"></script> -->
</body>

</html>